# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm


pnpm-lock.yaml
Cargo.lock

# https://github.com/lycheeverse/lychee
.lycheecache
.DS_Store


waveform_log.txt

.syncthing.*

/static

/ORIGINAL*

/build
/.svelte-kit/output
/build/_app/immutable
src-tauri/resources/chromaprint
src-tauri/resources/chromaprint
/src-tauri/resources/sox

# Ignore node_modules
**/node_modules/

# Rust target directory (per platform)
target/

# Tauri build outputs
/src-tauri/target/
src-tauri/.cargo/
src-tauri/Cargo.lock

# Optional: Vite/webpack build outputs (depends on your frontend toolchain)
dist/
build/

# Package manager files
.pnpm-store/
.yarn/