# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
.DS_Store


waveform_log.txt

.syncthing.*
/sox

/.svelte-kit/output
/build/_app/immutable
src-tauri/resources/chromaprint
src-tauri/resources/chromaprint
/src-tauri/resources/sox
