:root {
  --primary-bg: #2e3a47;
  /* Dark blue-gray background */
  --secondary-bg: #1f2731;
  /* Slightly darker background */
  --text-color: #ffffff;
  /* White text */
  --accent-color: #f0a500;
  --topbar-color: #FFB81C;
  --hover-color: #ffcc00;
  /* --accent-color: hsl(42, 100%, 47%);
  --topbar-color: hsl(42, 100%, calc(47% + 10%));
  --hover-color: hsl(42, 100%, calc(47% + 20%));  */
  --warning-hover: #ff6a00;
  --warning-color: #b91c1c;
  --inactive-color: #888;
  
  /* Font size system */
  --font-size: 16px; /* Default font size */
  --font-size-xs: calc(var(--font-size) - 4px); /* 1calc(var(--font-size) / 8px) when default is 16px */
  --font-size-sm: calc(var(--font-size) - 3px); /* 13px when default is 16px */
  --font-size-md: calc(var(--font-size) - calc(var(--font-size) / 8)); /* 14px when default is 16px */
  --font-size-lg: calc(var(--font-size) + calc(var(--font-size) / 8)); /* 18px when default is 16px */
  --font-size-xl: calc(var(--font-size) + 8px); /* 24px when default is 16px */
}

:root.original {
  --primary-bg: #2e3a47;
  /* Dark blue-gray background */
  --secondary-bg: #1f2731;
  /* Slightly darker background */
  --text-color: #ffffff;
  /* White text */
  --accent-color: #f0a500;
  --topbar-color: #FFB81C;
  --hover-color: #ffcc00;
  /* --accent-color: hsl(42, 100%, 47%);
    --topbar-color: hsl(42, 100%, calc(47% + 10%));
    --hover-color: hsl(42, 100%, calc(47% + 20%));  */
  --warning-hover: #dc2626;
  --warning-color: #b91c1c;
  --inactive-color: #888;
}

:root.light {
  --primary-bg: #ffffff;
  /* Dark blue-gray background */
  --secondary-bg: #f5f5f5;
  /* Slightly darker background */
  --text-color: #333333;
  /* White text */
  --accent-color: #4a6cf7;
  --topbar-color: #2c3e50;
  --hover-color: #3498db;
  --warning-hover: #dc2626;
  --warning-color: #e74c3c;
  --inactive-color: #95a5a6;
}

:root.terminal {
  --primary-bg: #000000;
  /* Dark blue-gray background */
  --secondary-bg: #232323;
  /* Slightly darker background */
  --text-color: #00f900;
  /* White text */
  --topbar-color: #7a7a7a;
  --accent-color: #00f900;
  --hover-color: #7aff7a;
  --warning-hover: #f90000;
  --warning-color: #000000;
  --inactive-color: #7a7a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-app-region: no-drag;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  /* Your app's background color */
  color: var(--text-color);
  overflow-x: hidden;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: var(--font-size);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--font-size) * 3);
  background-color: var(--topbar-color);
  color: var(--primary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Arial, sans-serif;
  transform: translateZ(0);
  will-change: transform;
}

.top-bar-left,
.top-bar-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  color: var(--primary-bg);
  text-decoration: none;
  font-size: var(--font-size);
  font-weight: bold;
  white-space: nowrap;
  padding: calc(var(--font-size) / 4) calc(var(--font-size) / 2);
  border-radius: calc(var(--font-size) / 4);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.nav-link:hover {
  background-color: var(--primary-bg);
  color: var(--topbar-color);
}

.nav-link.active {
  background-color: var(--primary-bg);
  color: var(--topbar-color);
}

.nav-link-warn {
  color: var(--primary-bg);
  text-decoration: none;
  font-size: var(--font-size);
  font-weight: bold;
  white-space: nowrap;
  padding: calc(var(--font-size) / 4) calc(var(--font-size) / 2);
  border-radius: calc(var(--font-size) / 4);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.nav-link-warn:hover {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.nav-link-warn.active {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.content {
  margin-top: calc(var(--font-size) * 1.25)px;
  padding: calc(var(--font-size) * 1.25)px;
  /* padding-top: calc(var(--font-size) / 2px); */
  flex: 1;
  background-color: var(--primary-bg);
  min-height: calc(100vh - 5calc(var(--font-size) / 8px));
  width: 100%;
  position: relative;
  z-index: 1;
}



.basic-text {
  display: inline;
  /* Ensures it doesn't take up full width */
  margin-left: calc(var(--font-size) / 2px);
  color: var(--text-color);
  font-size: var(--font-size-lg);
  font-weight: normal;
}



h2 {
  color: var(--accent-color);
  font-size: calc(var(--font-size) * 1.5);
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
}




.small-button {
  background: linear-gradient(to bottom, var(--inactive-color), var(--primary-bg));
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
  /* Subtle inner highlight */
  background-color: var(--primary-bg);
  color: var(--text-color);
  border: 6px solid var(--secondary-bg);
  /* border-color: var(--inactive-color); */
  /* border-style:none; */
  padding: calc(var(--font-size) / 4) calc(var(--font-size) / 2);
  font-size: var(--font-size-sm);
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: calc(var(--font-size) / 2);
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
}

.small-button:hover {
  background-color: var(--hover-color);
  color: var(--secondary-bg);
  background: linear-gradient(to bottom, var(--hover-color), var(--accent-color));
  /* Brighter hover effect */
  /* border-color: #e69a00; */
}

.cta-button {
  background-color: var(--accent-color);
  color: var(--primary-bg);
  border: none;
  padding: var(--font-size-xs) var(--font-size-lg);
  font-size: calc(var(--font-size) + 1px);
  font-weight: bold;
  cursor: pointer;
  border-radius: calc(var(--font-size) / 2);
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
}

.cta-button:hover {
  background-color: var(--hover-color);
}

.cta-button.small { 
  padding: 6px 12px;
  font-size: var(--font-size-sm);
  /* margin-right: calc(var(--font-size) / 2px); */
}

.cta-button.cancel {
  background-color: var(--warning-color);
  color: var(--text-color);
}

.cta-button.cancel:hover {
  /* opacity: 0.9; */
  background-color: var(--warning-hover);
}

.cta-button.inactive {
  background-color: var(--inactive-color);
  color: var(--primary-bg);
}

.db-name {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
}



.duration-input {
  background-color: var(--secondary-bg);
  border-radius: calc(var(--font-size) / 4px);
  border-style: hidden;
  border-color: var(--inactive-color);

  color: (var(--text-color));
  width: 80px;
  margin-left: -calc(var(--font-size) / 2px);
  margin-right: -calc(var(--font-size) / 2px);
  padding: calc(var(--font-size) / 4px);
  font-size: var(--font-size);
  text-align: center;
}


.duration-input:focus {
  /* border: 4px solid var(--accent-color); */
  border-color: var(--secondary-bg);
  /* Your accent color */
  outline: 1px solid var(--hover-color);
}

.checkbox {
  color: var(--inactive-color);
  /* Default color */
  transition: color 0.2s;
}

.checked {
  color: var(--accent-color);
  /* Change this to your accent color */
}

.algorithm-item:hover {

  color: var(--hover-color);
  /* Hover effect */
}

.algorithm-item:hover .checkbox {
  color: var(--hover-color);
  /* Hover effect */
}



.input-group2 {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--font-size) / 2);
  margin-left: 70px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--font-size) / 2);
}

.input-group label {
  /* margin-right: calc(var(--font-size) / 2px); */
  font-weight: bold;
  width: 60px;
  /* Set a fixed width for labels */
  text-align: right;
  /* Align the text to the right */
}

.input-field,
.select-field {
  font-size: var(--font-size);
  padding: calc(var(--font-size) / 4);
  height: auto;  /* Changed from fixed height to auto */
  min-height: calc(var(--font-size-xl));  /* Use min-height instead of fixed height */
  margin-left: calc(var(--font-size) / 2);
  color: var(--text-color);
  flex-grow: 1;
  background-color: var(--primary-bg);
  border-style: hidden;
  line-height: 1.2;  /* Add line-height for better text rendering */
  box-sizing: border-box;  /* Ensure padding is included in height calculation */
}

/* Improve Windows select rendering */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none), 
(/* Edge and newer browsers */
-webkit-touch-callout: none) {
  .select-field {
    height: calc(var(--font-size-xl) + 6px);  /* Increased height for Windows */
    padding: 4px calc(var(--font-size) / 2);  /* Adjusted padding for Windows */
    line-height: 1.4;  /* Increased line height */
    box-sizing: border-box;
  }
}

/* Additional fix for modern Windows browsers */
@supports (-ms-ime-align:auto) or ((-webkit-appearance: none) and (not (-moz-appearance: none))) {
  .select-field {
    height: calc(var(--font-size-xl) + 6px);
    padding-top: 0;
    padding-bottom: 0;
  }
}
.input-field:focus,
.select-field:focus {
  /* border: 4px solid var(--accent-color); */
  border-color: var(--secondary-bg);
  /* Your accent color */
  outline: 1px solid var(--hover-color);
}

.input-field::placeholder {
  color: var(--inactive-color);
  /* Change this to your preferred color */
  opacity: 1;
  /* Ensures full opacity (some browsers lower opacity by default) */
}

.list-item {
  padding: 6px;
  border-bottom: 1px solid var(--inactive-color);
  cursor: pointer;
  font-size: var(--font-size);
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);  */

}

.selected-item {
  color: var(--primary-bg);
  background: var(--accent-color);
}

.unselected-item {
  color: var(--text-color);
  background: var(--primary-bg);
}

.checked-item {
  color: var(--warning-hover);
  /* font-weight: bold; */
}






.grid-container {
  display: grid;
  align-items: center;
  column-gap: calc(var(--font-size) / 2px);
  width: 100%;
}

.grid-container.header {
  border-bottom: 1px solid var(--inactive-color);
  /* Add a bottom border for the header */
}

grid-container.selected {
  background-color: var(--accent-color);
  /* Highlight the selected item */
}





/* Make sure the position is set correctly for grid items */


/* Bold class for text */
.bold {
  font-weight: bold;
}

/* Flex utility classes */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 0.5rem;
}


.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ellipsis {
  /* display: inline-block;
    width: 80px;
    height: calc(var(--font-size) / 2px); */
  /* background-color: #ccc; */
  border-radius: calc(var(--font-size) / 4px);
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}



.inactive {
  color: var(--inactive-color);
}











.block {
  background-color: var(--secondary-bg);
  padding: 15px;
  border-radius: calc(var(--font-size) / 2);
  flex: 1;
  /* Allow features to grow and shrink */
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  height: 100%;
  /* height: calc(100vh - (var(--font-size) * 3)); */
  /* Full viewport height */
}

.block.options {
  height: 100vh;
}

.block.inner {
  background-color: var(--primary-bg);
  padding: calc(var(--font-size) / 2px);
  border-radius: calc(var(--font-size) / 2);
  /* display: flex; */
  /* flex-direction: column; */
  flex-grow: 1;
  height: 100%;
  /* height: calc(100vh - 240px); */
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--font-size) / 2);
  background-color: var(--secondary-bg);
  border-bottom: calc(var(--font-size) / 2);
  gap: calc(var(--font-size) / 2px);
}


h2 {
  font-size: var(--font-size-xl);
  margin-bottom: calc(var(--font-size) / 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.text {
  /* margin-top: -20px; */
  margin-bottom: 1rem;
  margin-left: calc(var(--font-size) * 2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid.item {
  display: flex;
  align-items: center;
  gap: 10px;
  /* gap: calc(var(--font-size) / 2px); */
  cursor: pointer;
  background: none;
  border: none;
  padding: 3px;
  font: inherit;
  font-size: var(--font-size);
  font-family: Arial, sans-serif;
  color: var(--text-color);
  text-align: left;
  transition: color 0.2s;
}


.grid.item:focus {
  outline: calc(var(--font-size) / 8) solid var(--hover-color);
  outline-offset: calc(var(--font-size) / 8);
}


.grid.item:hover {

  color: var(--hover-color);
  /* Hover effect */
}

.grid.item:hover .checkbox {
  color: var(--hover-color);
  /* Hover effect */
}


.bar {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--font-size) / 2);
  margin-top: calc(var(--font-size) / 2);
}

.progress-container {
  width: 100%;
  height: 6px;
  background-color: var(--secondary-bg);
  border-radius: 3px;
  margin: 8px 0;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

/* Tooltip styles */
.tooltip-trigger {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: var(--tooltip-bg, #333);
  color: var(--text-color);
  text-align: center;
  border-radius: 6px;
  padding: calc(var(--font-size) / 2);
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: var(--font-size-xs);
  pointer-events: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -calc(var(--font-size) / 4);
  border-width: calc(var(--font-size) / 4);
  border-style: solid;
  border-color: var(--primary-bg) transparent transparent transparent;
}

.tooltip-trigger:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.popup {
  background-color: var(--primary-bg);
  border: 1px solid var(--inactive-color);
  border-radius: 8px;
  padding: 24px;
  max-width: 400px;
  width: 90vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}

